{% extends 'base.html.twig' %}
{% block title %}{{titulo}}{%endblock%}
{% block body %}
<h1>{{titulo}}</h1>
<form method='GET'>
    <div class="row">
        <div class='col'>
            <a href='{{path('categoria_adicionar')}}' class='btn btn-success'> Adicionar </a> 
        </div>
        <div class='col'>
            <input type='text' placeholder='Pesquisar por nome' name='categoria' value='{{ descricaocategoria }}' >
            <button class='btn btn-primary' class='ml-3'>Pesquisar</button>
        </div>      
    </div>
</form>
<table class='table'>
    <thead>
        <tr>
            <td>#</td>
            <td>Descrição</td>
            <td>Ações</td>
        </tr>
    </thead>
    <tbody>
        {% if categorias == false %}
        <tr class='text-center'>
            <td ></td>
            <td style='color: red;'>Não há categorias com esse nome!</td>
            <td ></td>
        </tr>
        {% endif %}
        {% for categoria in categorias %}
            <tr>
                <td>{{categoria.id}}</td>
                <td>{{categoria.descricaocategoria}}</td>
                <td>
                    <a href='{{ path('categoria_editar', {id: categoria.id}) }}' class='btn btn-primary'>Editar</a>
                    <a href="{{ path('categoria_excluir', {id: categoria.id}) }}" class='btn btn-danger'>Excluir</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}