{% extends 'base.html.twig' %}
{% block title %}{{titulo}}{%endblock%}
{% block body %}
<h1>{{titulo}}</h1>
<form method='GET'>
    <div class="row">
        <div class='col'>
            <a href='{{path('produto_adicionar')}}' class='btn btn-success'> Adicionar </a> 
        </div>
        <div class='col'>
            <input type='text' placeholder='Pesquisar por nome' name='nome' value='{{ nomeproduto }}' >
            <button class='btn btn-primary' class='ml-3'>Pesquisar</button>
        </div>      
    </div>
</form>
<table class='table'>
    <thead>
        <tr>
            <td>#</td>
            <td>Nome do produto</td>
            <td>Valor</td>
            <td>Categoria</td>
            <td>Ações</td>
        </tr>
    </thead>
    <tbody>
        {% if produtos == false %}
        <tr class='text-center'>
            <td ></td>
            <td ></td>
            <td style='color: red;'>Não há produtos com esse nome!</td>
            <td ></td>
            <td ></td>
        </tr>
        {% endif %}
        {% for produto in produtos %}
            <tr>
                <td>{{produto.id}}</td>
                <td>{{produto.nomeproduto}}</td>
                <td>{{produto.valor}}</td>
                <td>{{produto.categoria.descricaocategoria}}</td>
                <td>
                    <a href='{{ path('produto_editar', {id: produto.id}) }}' class='btn btn-primary'>Editar</a>
                    <a href="{{ path('produto_excluir', {id: produto.id}) }}" class='btn btn-danger'>Excluir</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}